
<script src="//code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script src="/static/cookiesdirective.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41288968-1', 'eliendrae.net');
  ga('send', 'pageview');


  $(document).ready(function(){
		$.cookiesDirective({
			privacyPolicyUri: '/policies/#privacy',
			explicitConsent: false,
			position: 'bottom',
			message: 'This site uses cookies to track visitors. ', 
			linkColor: '#444444',
			fontColor: '#444444',	
			backgroundColor: '#95A09A',
			backgroundOpacity: '90',
		});
		$('.collapse').collapse();
	});
</script>
