
{{> header}}
<div id="name" class="eli_section inverse">
    <div class="container jumbotron centered">
        <div>
            <img class="profile-image main" src="/static/profile-image.png">
        </div>
        <h3>Balázs Pete <p><small>@eliendrae</small></p></h3> 
    </div>
</div>
<div id="aboutme" class="eli_section">
    <div class="container jumbotron">
        <h3>About me</h3>
        <p>I have an interest in mobile computing and the technologies of the future. I have a high expectation for both performance efficient and well usable systems, offering the best possible user experience.</p>
        <p>My main areas of interest are mobile and distributed systems, artificial intelligence, machine learning, and knowledge engineering. I particularly enjoy problem solving, and I aim to learning something new every day.</p>
    </div>
</div>
<div id="skills" class="eli_section inverse">
    <div class="container jumbotron">
        <h3>Skills</h3>
        <p>
            {{#each skills.structure}}
                <a class="{{class}}" href="/projects/?{{filterquery name}}">{{name}}</a>
            {{/each}}
        </p>
    </div>
</div>
<div id="education" class="eli_section">
    <div class="container jumbotron">
        <h3>Education</h3>
        {{eduwork education}}
    </div>
</div>
<div id="experience" class="eli_section inverse">
    <div class="container jumbotron">
        <h3>Work Experience</h3>
        {{eduwork experience}}
    </div>
</div>
<div id="responsibilities" class="eli_section">
    <div class="container jumbotron">
        <h3>Societies and Responsibilities</h3>
        {{eduwork responsibilities}}
    </div>
</div>
<div id="achievements" class="eli_section inverse">
    <div class="container jumbotron">
        <h3>Achievements</h3>
        {{eduwork achievements}}
    </div>
</div>
<div id="page-affix" data-spy="affix">
    <ul class="nav">
        <li><a href="#aboutme">About&nbsp;me</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#education">Education</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#responsibilities">Responsibilities</a></li>
        <li><a href="#achievements">Achievements</a></li>
    </ul>
</div>
{{> footer}}
