
{{> header}}
<div class="eli_section warning">
    <div class="container jumbotron">
        <h3>Hi there!</h3>
        <p>This site is currently under development. Please excuse the minimal information, kinda busy with other stuff at the moment ;) You may find my professional profile on <a href="http://www.linkedin.com/in/balazspete90">LinkedIn</a>. Open sourced projects on <a href="https://github.com/balazspete">GitHub</a></p>
        <p><em>If you want to find out more Google Search is your friend.</em></p>
    </div>
</div>
<div id="name" class="eli_section">
    <div class="container jumbotron">
        <h3>Balázs Pete</h3>
        <p>@eliendrae</p>
    </div>
</div>
<div id="education" class="eli_section">
    <div class="container jumbotron">
        <h3>Education</h3>
        <p><strong>Current:</strong> MSc in Computer Science, Mobile and Ubiquitous Computing <em>@Trinity College Dublin</em></p>
        <p>BSc in Computer Science <em>@University College Dublin</em></p>
    </div>
</div>
