
{{> header}}
<div class="eli_section">
    <div class="container jumbotron">
        <h3>Hi there!</h3>
        <p>This site is currently under development. This page will show the latest blog entries, tweets, and other updates...</p>
        <br>
        <p>Head over to <a href="/about/">About</a> or <a href="/projects/">Projects</a>, they're in a good state!</p>
        <br>
		<p>You may find my professional profile on <a href="http://www.linkedin.com/in/balazspete90">LinkedIn</a>. Open sourced projects on <a href="https://github.com/balazspete">GitHub</a></p>
        <p><em>If you want to find out more, Google Search is your friend.</em></p>
    </div>
</div>
