
{{> header}}
<div class="eli_section warning">
    <div class="container jumbotron">
        <h3>Hi there!</h3>
        <p>This site is currently under development. Please excuse the minimal information, kinda busy with other stuff at the moment ;) You may find my professional profile on <a href="http://www.linkedin.com/in/balazspete90">LinkedIn</a>. Open sourced projects on <a href="https://github.com/balazspete">GitHub</a></p>
        <p><em>If you want to find out more, go to <a href="/about/">About</a>, otherwise Google Search is your friend.</em></p>
    </div>
</div>
